@import "tailwindcss";

/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}

/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cairo/v30/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hOA-W1Q.ttf) format('truetype');
    unicode-range: U+0600-U+06FF;
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cairo/v30/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hAc5W1Q.ttf) format('truetype');
    unicode-range: U+0600-U+06FF;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}


/* add here any tailwind custom class you want */
@theme {
    --font-poppins: Poppins, 'Cairo', Tahoma, Verdana, sans-serif;
    --color-primary: #7e57c2;
    --color-secondary: #6a4aaa;
    --color-primary-dark: #212121;
    --color-secondary-dark: #303030;
    --color-tertiary-dark: #171717;
    --color-primary-light: #f5f5f0;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: var(--font-poppins);
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 50;
}

.ReactModal__Content {
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
    padding: 24px !important;
    border-radius: 8px !important;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important;
    max-height: 90vh !important;
    overflow: auto !important;
    border: none !important;

    .dark & {
        background-color: var(--color-primary-dark) !important;
    }
}

/* Add responsive margins for small screens */
@media (max-width: 640px) {
    .ReactModal__Content {
        width: calc(100vw - 30px) !important;
        margin: 0 !important;
    }
}